.container {
  left: 50%;
  width: calc(100% - 16px);
  padding: 0 18px;
  box-sizing: border-box;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    rgba(48, 211, 182, 0.9),
    rgba(38, 210, 170, 0.9),
    rgba(0, 205, 122, 0.9)
  );
  transform: translate(-50%, 100%);
  transition-property: transform;
  transition-timing-function: ease-out;
}

.container:global(.entering),
.container:global(.entered) {
  transform: translate(-50%, -8px);
}

.container :global(.previous-content),
.container :global(.current-content) {
  padding: 0 18px;
  box-sizing: border-box;
}

.toast {
  height: 100%;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}

.toast .action {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

@media (min-width: 768px) {
  .taost {
    width: 752px;
  }
}
